<h4>Add a Todo</h4>
<div class="card p-4">
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
</div>